@charset "UTF-8";
.brands {
	padding-top: 0;
	padding-bottom: 60px;
}

.all-brand{
	border-right:3px solid;
	height:300px;
	position:relative;
}

.subs-brand{
	height:300px;
	position:relative;
}

.brand-image{
	overflow: hidden;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-left: 17px;
	box-shadow: 5px 5px 5px gray;
	cursor: pointer;
}

.brand-list{
	display: inline-block;
}

.black-filter{
	filter : brightness(50%);
	
}